@import url('https://fonts.googleapis.com/css2?family=Georama&family=Neucha&family=Nunito&family=Open+Sans&family=Raleway:wght@200&family=Roboto+Mono:ital@1&family=Work+Sans:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}